<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>MoveMate</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/sweetalert/lib/sweet-alert.css">
    <script src="app.js"></script>
</head>
<body style = "background-color: #e8e6e1" ng-app="MoveMate" ng-controller="MoveMateController"> 

    <div class="card sign-in-card">
        <div class="main-content">
        <img  class = "logo-image" src="https://book.movemate.ca/assets/movemate_logo.svg" />
        </div>

        <div class="input-form">
            <h4>When are you moving?</h4>
            <input class = "selector-fields" type="date" min={{currentdate}} value={{currentdate}} ng-model="mydate"/>
        </div>

        <div class="input-form">
            <h4>What time works best?</h4>
            <select class = "selector-fields" style="width: 93%;">
                <option ng-repeat="x in names">{{x}}</option>
            </select>
        </div> 

        <!-- <div class="input-form">
            <h4>What time works best?</h4>
            <input class = "input-fields" type="text" placeholder=" Time of Booking "/>
        </div> -->
        
        <div class="input-form">
            <h4>How long is your journey? </h4>
            <input class = "input-fields" type="text" ng-pattern="/^[0-9]{1,7}$/" ng-model="hours"  placeholder="Number of Hours" />
            
        </div>   

        <div class="button-div">
            <button class="button button3" ng-click="buttonClick()" ng-disabled="!hours" >Get an estimate</button>
        </div>     
    
    </div>

    <script src="node_modules/angular-sweetalert/SweetAlert.min.js"></script>
    <script src="node_modules/sweetalert/lib/sweet-alert.min.js"></script>
    <script src="app.js"></script>


</body>
</html>